@import url('https://rsms.me/inter/inter.css');
#root {
    position:absolute;
    width: 70vw;
    height: 100vh;
    margin: 0vh 0vw 0vh 30vw;
    position:static;
    box-sizing: border-box;
    background-color: #4628ff;
    /* background-color: #efefef; */
    /* max-width: 1200px; */
  }
  
  body {
    overscroll-behavior-y: none;
    background: #efefef;
    font-family: 'Inter var', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: black;
  }

  #intro-threejs{
    position: absolute;
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding:0 10vw; 
    left:0;
    top:0;
    font-size: 16px;
    font-family: "Open Sans", "Noto Sans", Arial, sans-serif;
    text-decoration: none;
    width: 30vw;
    height:100vh;
    max-width: 1200px;
    color: #efefef;
    background-color: #4628ff;
  }

  #contact-threejs {
    height:200px;
    max-width: 30vw;
    list-style: none;
    font-weight: 600;
    display:flex;
    flex-direction: column;
    gap:3rem;
    justify-content: center;
    padding:0;
  }

.button-threejs {
    border: solid 1px #efefef;
    border-radius: 1rem;
    padding: 0.8rem;
    text-decoration: none;
    color: #efefef;
  }
  

  /* #root::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
    height: 90vh;
    background-image: url('/view.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    pointer-events: none;
  } */
