html {
    scroll-behavior: smooth;
}

*{font-size: 16px;
font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;}

h1 {font-size: 120px;
    font-weight: 800;}

h2 {font-size:70px;
}

h3 {
    font-size: 60px;
}

h5{ font-size:40px;}

p{line-height: 1.5;
}

h6 {font-size: 20px;}



#navbar{
    background-color: white;
    height: 5vh;
    top:0px;
    position: fixed;
    display: flex;
    width: 100%;
}


#nav {
    list-style-type: none;
    margin: auto;
    right: 4vw;
    top:1.5vh;
    position: fixed;
    display: flex;
    flex-direction: row;
}

#nav li{
        text-align: center;
        font-weight: 500;
        text-transform: uppercase;
        margin-left: 1.5em;
}

#nav li a{
    color: black;
    text-decoration: none;
    font-size: 12px;
}

#nav li:hover{
    font-weight: 700;
    transform: scale(1.15);
    transition:all .5s;
}

#myName{position: fixed;
        display: flex;
        margin-left:5vw;
        text-transform: uppercase;
        width: auto;
        top: 1.5vh;
        left: 6vw;
        margin: auto;
        color: black;
        text-decoration: none;
        font-size: 12px;
        font-weight: 600;
    }

#introName {font-size: 2em;
    animation: introAnimation 1s ease-in-out;}

#menu { position: fixed;
        left: 12px;
        top: 50%;
        animation: menu 1s forwards;
    }

#socialIcon{position:fixed;   
    right: 5px;
    top:50%;
    display: flex;
    flex-direction: column;
}

@keyframes menu {
    0%{transform: translateX(0vw) rotate(-90deg);} 
    100%{transform: translateX(1vw) rotate(-90deg);}   
}

#menuText:hover{transform: scale(1.5);
    font-weight: 500;
    text-decoration: underline;
    transition: transform .7s;
    cursor: pointer;
}

.hoverIcon:hover {
    animation: social .5s forwards;
    cursor: pointer;
}

.hoverIcon{
    height:40px;
}

#menuText {font-size: 9px;}

@keyframes social {
    to{transform: scale(1.2)};  
}

#scroll {
    position: absolute;
    bottom:8vh;
    left: 50%;
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: scroll 1s 1s backwards;
    font-weight:600;

}

@keyframes scroll{
    0%{transform: translateY(1vw)}
    100%{transform: translateY(0vw)}
}

#scrollArrow{
    display: inline-block;
    margin-top: .2em;
    margin-left: .4em;
    animation: scrollArrow .7s infinite alternate;   
}

#scrollText {font-size: 9px;
    transform: rotate(-90deg); 
}

@keyframes scrollArrow{
    0%{transform: translateY(1em) rotate(90deg) scale(1.2,2);}
    100%{transform: translateY(0em) rotate(90deg) scale(1.2,2);}
}

.lines {border-left: 4px solid black;
        margin: 2px;
        height: 2px;}

.lines:hover{
    cursor: pointer;
}

a:hover {color: #121214;}

#start {
    background-color: #ff5851;
    margin: 5vh 5vw;
    color: #121214;
    height: 90vh;
    width: 90vw;
    display: flex;
}

.whiteText{
        color: white;
        font-size: 1.2em;
        animation: introTextAnimation 1.2s ease-in-out;
    }

    @keyframes introTextAnimation {
        0% {opacity: 0;}
        50% {opacity: 0;}
        100% {opacity: 100;}
    }
    

#intro {
    max-width: 30vw;
    margin:auto;
    margin-left: 5vw;
    margin-right: 5vw;
    font-weight: 800;
}

@keyframes introAnimation {
    from {opacity: 0;}
    to {opacity: 100;}
}

#bonjourMain{
    display:flex;
    width: 50vw;
    align-items: center;

    }

#bonjour {
        line-height: 7rem;
        animation: bonjour 3s;
        }     

#x{
    font-size: 120px;
    transition: transform 1s;
    font-weight: 800;
    animation: ex 3s ease-in-out;
    margin-bottom: .05em;
    margin-left:.2em
}


@keyframes bonjour {
    0% { opacity: 0;
        transform: translateX(30em);}
    30% { opacity: 0;
        transform : translateX(30em) }
    100%   { visibility: visible;
        transform : translateX(0vw) }
}

@keyframes ex {
    0% { opacity: 0;
        transform: translateX(30vw);}
    50% { opacity: 0;
        transform : translateX(30vw) }
    100%   { visibility: visible;
        transform : translateX(0vw) }
    }

#firstGallery {
    margin: 4vw;;
}

/* ----- Introduction ----- */
.introduction{
    margin: 5vh auto;
    width:40vw;
    max-width: 1000px;
    justify-content: center;
    align-items: center;
}

/* ----- Hippo Animation ----- */

.hippoProject {
    background:#1e313f;
    margin: 15vh;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    max-width: 500px;
}

button {
    background: transparent;
    width: 240px;
    border: 0;
    cursor: pointer;
    padding: 0;
}

#carrot{
    max-width: 13px;
    transform: rotate(-30deg);
    margin-right: 10px;
    ;}

.carrot-fill{fill:#F6851F;}
.head-fill{fill:#149547;}
.head-outline{fill:none;stroke:black;stroke-width: 10px;}
.carrot-outline{fill:none;stroke:#000000;stroke-width:7;stroke-miterlimit:10;}
.eyes{stroke:#000000;stroke-width:5;stroke-miterlimit:10;}
.eyes-twinkle{fill:#FFFFFF;stroke:#FFFFFF;stroke-miterlimit:10;}
.smile{fill:none;stroke:#000000;stroke-width:6;stroke-miterlimit:10;}

.ear-left-outer, .ear-right-outer {fill:#919191;}
.ear-left-inner, .ear-right-inner {fill:#6D6D6D;}
.eye-right-outer, .eye-left-outer, .nostril-right-outer, .nostril-left-outer, .body {fill:#AAAAAA;}
.eye-right-inner, .eye-left-inner {fill:#FFFFFF;}
.nostril-right-inner, .nostril-left-inner{fill:#8C8C8C;}
.freckle {fill:#7C7C7C;}
.tongue {fill:#FF4848;}
.tooth-left, .tooth-right {fill:#FFFFE1;}

.section{
    margin: 20vh auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    max-width: 1000px;
}

#collapsible {
    border: solid 1px black;
    border-radius: 10px;
    width: 8em;
    text-align: center;
    padding: 5px;
    margin:4vh auto;
  }
  
#collapsible:hover {
    background-color: rgb(211, 211, 211);
    cursor: pointer;
    box-shadow: 5px 5px 5px lightgray;
    transform: translateY(-2px);
  }

#hidden-text {
    display:none;
  }

.bold {
    font-weight: 600;
}

#getInTouch {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin-top:100px;
}

#social {
    display: flex;
    justify-content: center;
    align-items: center;
}

.images {
    border-radius: 20px;
    max-width: 400px;
}

.images:hover {
    border-radius: 20px;
    box-shadow: 10px 5px 8px lightgray;
    animation: images .3s forwards;
    cursor: grab;
}

@keyframes images {
    to{transform:  translateY(-5px)} 
}

.sectionTitles{
    margin:0px;
}

#sayHello{
    border: solid 1px black;
    border-radius: 10px;
    width: 120px;
    text-align: center;
    padding: 5px;
    margin:4vh auto;
}
#sayHello:hover{
    background-color: rgb(200, 248, 200);
    cursor: pointer;
    box-shadow: 5px 5px 5px lightgray;
    transform: translateY(-2px);
}

#seeMore{
    border: solid 1px black;
    border-radius: 10px;
    width: 120px;
    text-align: center;
    padding: 5px;
    margin:4vh auto;
}

#seeMore:hover{
    background-color: rgb(238, 203, 243);
    cursor: pointer;
    box-shadow: 5px 5px 5px lightgray;
    transform: translateY(-2px);
}

.pinkText{
    color:#db433e;
}