*{font-size: 16px;
font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;}

h1 {font-size: 120px;
    font-weight: 800;}

#navbar{
    background-color: white;
    height: 5vh;
    top:0px;
    position: fixed;
    display: flex;
    width: 100%;
}


#nav {
    list-style-type: none;
    margin: auto;
    right: 4vw;
    top:1.5vh;
    position: fixed;
    display: flex;
    flex-direction: row;
}

#nav li{
        text-align: center;
        font-weight: 500;
        text-transform: uppercase;
        margin-left: 1.5em;
}

#nav li a{
    color: black;
    text-decoration: none;
    font-size: 12px;
}

#nav li:hover{
    font-weight: 700;
    transform: scale(1.15);
    transition:all .5s;
}

#myName{position: fixed;
        display: flex;
        margin-left:5vw;
        text-transform: uppercase;
        width: auto;
        top: 1.5vh;
        left: 5vw;
        margin: auto;
    }

#introName {font-size: 2em;
    animation: introAnimation 1s ease-in-out;}

#menu { position: fixed;
        left: 12px;
        top: 50%;
        animation: menu 1s forwards;
    }

@keyframes menu {
    0%{transform: translateX(0vw) rotate(-90deg);} 
    100%{transform: translateX(1vw) rotate(-90deg);}   
}

#menuText:hover{transform: scale(1.5);
    font-weight: 500;
    text-decoration: underline;
    transition: transform .7s;}

#menuText {font-size: 9px;}

#scroll {
    position: fixed;
    bottom:8vh;
    left: 50%;
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: scroll 1s 1s backwards;

}

@keyframes scroll{
    0%{transform: translateY(1vw)}
    100%{transform: translateY(0vw)}
}

#scrollArrow{
    display: inline-block;
    margin-top: .2em;
    margin-left: .4em;
    animation: scrollArrow .7s infinite alternate;   
}

#scrollText {font-size: 9px;
    transform: rotate(-90deg); 
}

@keyframes scrollArrow{
    0%{transform: translateY(1em) rotate(90deg) scale(1.2,2);}
    100%{transform: translateY(0em) rotate(90deg) scale(1.2,2);}
}

.lines {border-left: 4px solid black;
        margin: 2px;
        height: 2px;}

a:hover {color: #121214;}

#start {
    background-color: #ff5851;
    margin: 5vh 4vw;
    color: #121214;
    height: 90vh;
    width: 92vw;
    display: flex;
}

.whiteText{
        color: white;
        font-size: 1.2em;
        animation: introTextAnimation 1.2s ease-in-out;
    }

    @keyframes introTextAnimation {
        0% {opacity: 0;}
        50% {opacity: 0;}
        100% {opacity: 100;}
    }
    

#intro {
    max-width: 30vw;
    margin:auto;
    margin-left: 5vw;
    margin-right: 5vw;
    font-weight: 800;
}

@keyframes introAnimation {
    from {opacity: 0;}
    to {opacity: 100;}
}

#bonjourMain{
    display:flex;
    width: 50vw;
    align-items: center;

    }

#bonjour {
        line-height: 7rem;
        animation: bonjour 3s;
        }     

#x{
    font-size: 120px;
    transition: transform 1s;
    font-weight: 800;
    animation: ex 3s ease-in-out;
    margin-bottom: .05em;
    margin-left:.2em
}


@keyframes bonjour {
    0% { opacity: 0;
        transform: translateX(30em);}
    30% { opacity: 0;
        transform : translateX(30em) }
    100%   { visibility: visible;
        transform : translateX(0vw) }
}

@keyframes ex {
    0% { opacity: 0;
        transform: translateX(30em);}
    30% { opacity: 0;
        transform : translateX(30em) }
    100%   { visibility: visible;
        transform : translateX(0vw) }
    }

#firstGallery {
    margin: 4vw;;
}


/* ----- Hippo Animation ----- */

.hippoProject {
    background:#1e313f;
    margin: 10vh 15vw;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}

button {
    background: transparent;
    width: 240px;
    border: 0;
    cursor: pointer;
    padding: 0;
}

.ear-left-outer, .ear-right-outer {fill:#919191;}
.ear-left-inner, .ear-right-inner {fill:#6D6D6D;}
.eye-right-outer, .eye-left-outer, .nostril-right-outer, .nostril-left-outer, .body {fill:#AAAAAA;}
.eye-right-inner, .eye-left-inner {fill:#FFFFFF;}
.nostril-right-inner, .nostril-left-inner{fill:#8C8C8C;}
.freckle {fill:#7C7C7C;}
.tongue {fill:#FF4848;}
.tooth-left, .tooth-right {fill:#FFFFE1;}

.hello{
    height:600px;
    display: flex;
    justify-content: right;
    align-items: center;
}