html {
  scroll-behavior: smooth;
}

* {
  font-size: 16px;
  font-family: "Segoe UI", roboto, "Helvetica Neue", Arial, sans-serif;
}

h1 {
  font-size: 120px;
  font-weight: 800;
}

h2 {
  font-size: 70px;
}

h5 {
  font-size: 40px;
}

h6 {
  font-size: 18px;
}

p {
  line-height: 1.5;
}

h6 {
  font-size: 20px;
}

body {
  margin: auto 5vw;
  background-color: #efefef;
}

header {
  margin-right: 5vw;
}

/* Starting screen */

#navbar {
  position: fixed;
  width: 100%;
  top: 0;
  height: 5vh;
  background-color: #efefef;
  z-index:1;
}

#myName {
  position: fixed;
  display: flex;
  text-transform: uppercase;
  width: auto;
  top: 1.5vh;
  margin: auto;
  color: black;
  text-decoration: none;
  font-size: 15px;
  font-weight: 700;
}

#introName {
  font-size: 1.7em;
  animation: introAnimation 1s ease-in-out;
}

#menu {
  position: fixed;
  left: 5px;
  top: 50vh;
  animation: menu 1s forwards;
  height: 4vh;
  z-index: 2;
}

#menuOptions {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  align-items: center;
  background-color: rgba(253, 253, 253,0.65);
}

#menu-black-box{
  position:fixed;
  background-color: black;
  width:30vw;
  height:45vh;
  left:0px;
  z-index:-1;
}

#contactLink{
  line-height: 3em;
}

#nav {
  list-style-type: none;
}

#nav li {
  font-weight: 800;
  line-height: 40px;
}

#nav li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 2em;
}

#cross {
  display: none;
  position: fixed;
  left: 12px;
  top: 50vh;
  z-index: 1;
  font-size: 2em;
  font-weight: 700;
  color:white;
}

#cross:hover {
  transform: scale(1.2);
  transition: all 0.5s;
}

#lines:hover {
  transform: scale(1.2);
  transition: all 0.5s;
}

#nav li:hover {
  transform: translateX(10px);
  transition: all 0.5s;
  text-decoration: underline wavy 3px;
}

.emoji {
  position: fixed;
  top: 1vh;
  height: 3vh;
  right: 5vw;
  animation: emoji 2s linear;
  animation-iteration-count: infinite;
}

@keyframes emoji {
  to {
    transform: rotate(360deg);
  }
}

@keyframes menu {
  0% {
    transform: translateX(0vw) rotate(-90deg);
  }
  100% {
    transform: translateX(1vw) rotate(-90deg);
  }
}

#menuText:hover {
  transform: scale(1.5);
  font-weight: 500;
  text-decoration: underline;
  transition: transform 0.7s;
  cursor: pointer;
}

#menuText {
  font-size: 9px;
}

@keyframes social {
  to {
    transform: scale(1.2);
  }
}

#scroll {
  position: absolute;
  bottom: 8vh;
  left: 50%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: scroll 1s 1s backwards;
  font-weight: 600;
}

@keyframes scroll {
  0% {
    transform: translateY(1vw);
  }
  100% {
    transform: translateY(0vw);
  }
}

#scrollArrow {
  display: inline-block;
  margin-top: 0.2em;
  margin-left: 0.4em;
  animation: scrollArrow 0.7s infinite alternate;
}

#scrollText {
  font-size: 9px;
  transform: rotate(-90deg);
  color:white;
  text-decoration: none;
  margin-bottom: 1em;
}

@keyframes scrollArrow {
  0% {
    transform: translateY(1em) rotate(90deg) scale(1.2, 2);
  }
  100% {
    transform: translateY(0em) rotate(90deg) scale(1.2, 2);
  }
}

.lines {
  border-left: 4px solid black;
  margin: 2px;
  height: 2px;
}

.lines:hover {
  cursor: pointer;
}

a:hover {
  color: #121214;
}

#start {
  background-color: #ff5851;
  margin: 5vh auto;
  color: #121214;
  height: 90vh;
  display: flex;
}

.whiteText {
  color: white;
  font-size: 1.2em;
  animation: introTextAnimation 1.2s ease-in-out;
  max-width: 600px;
}

@keyframes introTextAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

#intro {
  width: 40vw;
  margin: auto;
  margin-left: 5vw;
  margin-right: 5vw;
  font-weight: 800;
}

@keyframes introAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

#bonjourMain {
  display: flex;
  width: 50vw;
  align-items: center;
}

#bonjour {
  line-height: 7rem;
  animation: bonjour 3s;
}

#exclem {
  font-size: 120px;
  transition: transform 1s;
  font-weight: 800;
  animation: ex 3s ease-in-out;
  margin-bottom: 0.05em;
  margin-left: 0.2em;
}

@keyframes bonjour {
  0% {
    opacity: 0;
    transform: translateX(20vw);
  }
  30% {
    opacity: 0;
    transform: translateX(20vw);
  }
  100% {
    visibility: visible;
    transform: translateX(0vw);
  }
}

@keyframes ex {
  0% {
    opacity: 0;
    transform: translateX(20vw);
  }
  50% {
    opacity: 0;
    transform: translateX(20vw);
  }
  100% {
    visibility: visible;
    transform: translateX(0vw);
  }
}

/* ----- Introduction ----- */
.introduction {
  padding-top: 10vh;
  width: 60vw;
  max-width: 1000px;
  margin: 0 auto;
}

/* ----- Hippo Animation ----- */

#hippo {
  background: #1e313f;
}

button {
  background: transparent;
  border: 0;
  height: 550px;
  width: 33%;
  min-width: 330px;
}

button#hippo {
  padding: 2em;
}

/* Lapi in Yelapa Animation */

#lapi {
  background-color: #dba601;
  padding: 0px;
}

#Chair,
#Lapipiou,
#Drink {
  transform: scale(1.2);
}

#Chair,
#Lapipiou,
#Drink,
.Starfish {
  transform: translateX(80px);
  transform: translateY(300px);
}

.cls-11 {
  transform: translateX(-20px);
  animation: wave 1.5s linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#Wave {
  transform: translateY(200px);
}

@keyframes wave {
  to {
    transform:translateX(-100px);
    transform: translateY(60px);
  }
}

.carrot-fill, .carrot-head{
  animation: carrots 6s linear;
  animation-iteration-count:infinite;
}

@keyframes carrots {
  from{
    transform:translateX(-400px);
  }
  to {
    transform: translateX(600px);
  }
}

.carrot-fill {
  fill: #f68521;
}

.carrot-fill, .carrot-head {
  stroke: #231f20;
  stroke-width: 2px;
}

.carrot-head {
  fill: #189547;
}

.cls-1 {
  fill: #2b91e3;
  stroke-width: 3px;
}

.cls-1,
.cls-2,
.cls-3,
.cls-4,
.cls-5,
.cls-6,
.cls-7,
.cls-8,
.cls-9,
.cls-10 {
  stroke: #000;
}

.cls-1,
.cls-2,
.cls-4,
.cls-5,
.cls-6,
.cls-7,
.cls-9,
.cls-10 {
  stroke-miterlimit: 10;
}

.cls-2 {
  fill: none;
}

.cls-3,
.cls-8 {
  stroke-linecap: round;
  stroke-linejoin: round;
}

.cls-4 {
  fill: #d8c2c0;
}

.cls-4,
.cls-5,
.cls-6,
.cls-7,
.cls-8,
.cls-9,
.cls-10 {
  stroke-width: 2px;
}

.cls-5 {
  fill: #e7ad44;
}

.cls-6 {
  fill: #38ad0c;
}

.cls-11 {
  fill: #5191bc;
}

.cls-7 {
  fill: #6b2905;
}

.cls-8 {
  fill: #cd431c;
}

.cls-9 {
  fill: #ce953c;
}

.cls-12 {
  fill: #ef63a2;
}

.cls-10 {
  fill: #08227f;
}

.ear-left-outer,
.ear-right-outer {
  fill: #919191;
}
.ear-left-inner,
.ear-right-inner {
  fill: #6d6d6d;
}
.eye-right-outer,
.eye-left-outer,
.nostril-right-outer,
.nostril-left-outer,
.body {
  fill: #aaaaaa;
}
.eye-right-inner,
.eye-left-inner {
  fill: #ffffff;
}
.nostril-right-inner,
.nostril-left-inner {
  fill: #8c8c8c;
}
.freckle {
  fill: #7c7c7c;
}
.tongue {
  fill: #ff4848;
}
.tooth-left,
.tooth-right {
  fill: #ffffe1;
}

/* ----- General CSS rules ----- */

.section-flex {
  margin: 10vh auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5vw;
  width: 60vw;
  border-top: 1px solid #c4c4c4;
  max-width: 1000px;
}

.section-block {
  margin: 10vh auto;
  justify-content: center;
  align-items: center;
  gap: 5vw;
  width: 60vw;
  border-top: 1px solid #c4c4c4;
}

#about{
  display: flex;
  flex-direction: row;
}

#description{
  max-width:400px;
  top:0px;
}

.sectionTitles {
  margin-top: 10vh;
}

.bold {
  font-weight: 600;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list li::before {
  color: #ff4848;
  content: "\25B7";
  display: inline-block;
  width: 2em;
}

.list li {
  line-height: 2em;
}

#listSkills {
  display: flex;
  flex-direction: row;
  width: 60vw;
  max-width: 1000px;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.SLA {
  display: flex;
  flex-direction: column;
  width: 26%;
  min-width: 180px;
  height: 300px;
  background-color: #ffffff;
  padding-left: 28px;
  border-radius: 1.2em;
  border: solid 1px #c4c4c4;
  justify-content: center;
}

.SLA h6 {
  margin-top: 10px;
  margin-bottom: 20px;
}

#quotes-group {
  width: 50%;
  margin: 0 auto;
  margin-top: 10vh;
}

.quotes {
  max-width: 600px;
  margin: 1 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.portrait {
  max-width: 3em;
  max-height: 3em;
  border-radius: 1.5em;
  margin-right: 2em;
}

.timeline{
  font-style: italic;
  margin-top: -1em;
  font-size: 13px;
}

.resumeUl {
  list-style: none;
  margin-left: -2.5em;
  margin-bottom: 3em;
}

/* ul.resumeUl li:before {
    width: 0.35em;
    content: '';
    height: 0.35em;
    margin-right: 0.5em;
    vertical-align: 10%;
    display: inline-block;
    background: rgb(53, 53, 53);}*/

.resumeUl li {
  margin-bottom: 1.2em;
}

.images {
  border-radius: 20px;
  max-width: 400px;
  margin:1vh 2vw;
}

.images:hover {
  border-radius: 20px;
  box-shadow: 10px 5px 8px lightgray;
  animation: images 0.3s forwards;
  cursor: grab;
}

@keyframes images {
  to {
    transform: translateY(-5px);
  }
}

.expandButtons,
#collapsible {
  border: solid 1px rgb(134, 134, 134);
  border-radius: 40px;
  text-align: center;
  padding: 10px;
  width: 8em;
  margin: 4vh auto;
  text-decoration: none;
  color: black;
}
.expandButtons:hover,
#collapsible:hover,
.resume-email:hover {
  cursor: pointer;
  box-shadow: 5px 5px 5px rgb(170, 170, 170);
  transform: translateY(-2px);
}

.resume-email {
  font-size: 18px;
  width: 100px;
  border: solid 1px rgb(134, 134, 134);
  border-radius: 40px;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  color: black;
}

#contact-me{
  margin: 5vh auto;
  list-style: none;
  line-height: 4em;
  text-align: center;
}

.work-portfolio {
  display: flex;
  margin: 4em auto;
  justify-content: center;
}

.portfolio-preview {
  height: 300px;
  width: 200px;
  border-radius: 15px;
  border: 1px solid rgb(134, 134, 134);
}

.portfolio-preview:hover {
  border-radius: 20px;
  box-shadow: 10px 5px 8px lightgray;
  animation: images 0.3s forwards;
}

#hidden-text {
  display: none;
}

.pinkText {
  color: #db433e;
}

/* Progress bar */

.progress {
  position: fixed;
  z-index: 1;
  width: 89vw;
}

.progress-container {
  height: 1px;
  background: rgb(119, 119, 119);
}

.progress-bar {
  height: 4px;
  background: #000000;
}

/*Lapi in space illustration */
.Moon-Outline {
  fill: #f3e9db;
}

.moon {
  fill: #d3ccc1;
}

.eyes-lapi,
.cls-4,
.lapi-body {
  stroke: #010101;
  stroke-miterlimit: 10;
  stroke-width: 2px;
}

.helmet {
  fill: #39c6f4;
  opacity: 0.42;
}

.nose {
  fill: #ee64a2;
}

.moon-dark {
  clip-path: url(#clippath);
}

.background {
  fill: none;
}

.cls-9 {
  fill: none;
}

.lapi-body {
  fill: #d8c2c0;
}

#lapi-in-space {
  width: 330px;
  height: 100%;
  background: #232559;
}

#space-lapi {
  animation: lapi-in-space 4s linear;
  animation-iteration-count: infinite;
  transform-origin: 317px 376px;
}

@keyframes lapi-in-space {
  to {
    transform: rotate(-360deg);
  }
}

.svgIllustrations {
  display: flex;
  flex-wrap: wrap;
  min-height: 550px;
  width: 80vw;
  row-gap: 15px;
}

/* ----- Side bar - social media ----- */

#social {
  display: flex;
  justify-content: center;
  align-items: center;
}

#socialIcon {
  position: fixed;
  right: 5px;
  top: 50vh;
  display: flex;
  flex-direction: column;
}

.hoverIcon:hover {
  animation: social 0.5s forwards;
  cursor: pointer;
}

.hoverIcon {
  height: 40px;
}

#madeWithLove {
  position: fixed;
  right: -36px;
  height: 15vh;
  bottom: 4vh;
  transform: rotate(90deg);
}


/* Media Queries */

/*Mobile - 480px breakpoint */

@media screen and (max-width: 480px) {

  h1 {
    font-size: 70px;
    font-weight: 800;
    line-height: 70px;
  }
  
  h2 {
    font-size: 40px;
  }

  h5 {
    font-size: 22px;
  }
  
  h6 {
    font-size: 18px;
  }
  
  p {
    line-height: 1.5;
  }
  
  h6 {
    font-size: 20px;
  }

  .progress{
    display:none;
  }

  #start{
    display:block;
  }

  #intro {
    width:70vw;
    margin:10vw;
    height:50vh;
    position: absolute;
    top:30vh;
  }

  #exclem {
    font-size: 70px;
    margin-top: 16vh;
  }

  #bonjour{
    margin-left: 10vw;
    margin-top: 5vh;
  }

  .whiteText{
    margin: top 48px;
  }

  .section-flex{display:block;  
  }

  .images {
    display: block;
    border-radius: 150px;
    max-width: 70%;
    margin: 5vh auto;
  }

  .SLA h6 {
    margin-top: 0px;
    margin-bottom: 10px;
  }

  button, #lapi-in-space {
    border-radius: 15px;
    height: 300px;
    width: 33%;
    min-width: 200px;
  }

  #Wave {
    transform: translateY(30px);
  }
  
  @keyframes wave {
    to {
      transform:translateX(0px);
      transform: translateY(0px);
    }
  }

  #socialIcon {
    justify-content: center;
    right: 28vw;
    top:auto;
    bottom:5vh;
    flex-direction: row;
  }
  
  footer{width: 100vw;}

  #madeWithLove {
    bottom: 6vh;
    transform: rotate(90deg);
  }

  .resume-email{
    font-size: 14px;
  }

  #download-email{
    margin-bottom: 15vh;
  }

  #emoji{
    display: none;
  }

  #menu {
    position: fixed;
    left: auto;
    right:6vw;
    top: 1vh;
  }

  #menuText{
    display:none;
  }

  .lines {
    border-left: 2px solid rgb(0, 0, 0);
  }

}